/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');


// fonts
$font-family-sans-serif: 'Crimson Pro', sans-serif;
$presentation-font-size-root: 36px;

$code-font-size: $font-family-sans-serif;
